*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    background: #FAFAFA;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color:#636060;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*-------------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1220px;
    margin: 0px auto;
}
.page {
}
/*--------------------HEADER------------------------------*/
.header {
    font-family: 'Inika', serif;
    background-color: #EDF2EC;
    padding: 0px 0px 62px;
}
.header__container {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
}
.header__logo-image {
    height: 23px;
    width: 22px;
    margin-right: 0px;
    margin-top: 51px;
}
.header__logo-text {
    line-height: 21px;
    padding-top: 3px;
    color: #000000;
    padding-top: 56px;
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.menu__item:not(:last-child) {
    margin-right: 47px;
}
.menu__link {
    color: #010201;
    transition: .3s;
}
.menu__link:hover {
    color: #E06733;
  }
/*------------------------block welcome--------------------*/ 
.page__main-block {
}
.main-block {
    padding: 48px 0 62px 0;
    background-color: #EDF2EC;
}
.main-block__container {
    display: flex;
    justify-content: space-between;
}
.main-block__image {
    width: 449px;
    height: 407px;
    margin-right: 232px;
    margin-left: -10px;
}
.main-block__body {
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-block__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 47px;
    color: #717171;
    margin-bottom: 42px;
}
.green {
color: #499A18;
}
.main-block__text {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 48px;
}
.main-block__button {
    border: 2px solid #E06733;
    border-radius: 10px;
    width: 158px;
    height: 44px;
}
.main-block__button-link {
    color: #000000;
    padding: 13px 27px 14px;
}
.main-block__button-link:hover {
    color: white;
    transition: 0.3s;
}
.main-block__button:hover {
    background-color:  #E06733;
    transition: 0.3s;
}
/*-----------------------about us------------*/
.page__description {
}
.description {
}
.description__container {
    display: flex;
    justify-content: space-between;
    
}
.description__body {
    display: flex;
    flex-direction: column;
    padding-top: 161px;
    margin-right: 153px;
}
.description__subtitle {
    margin-bottom: 40px;
}
.subtitle {
    font-size: 40px;
    line-height: 52px;
    color: #E06733;
    font-family: 'Inika', serif;

}
.description__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 155px;
}
.descrition__image {
    padding-top: 93px;
}
/*-----------------------servises-------------------*/
.page__services {
}
.services {
    background-color: #EDF2EC;
    padding-bottom: 121px;
}
.services__container {
    display: flex;
    flex-direction: column;
}
.container {
}
.services__services-block {
    display: flex;
    justify-content: flex-start;
}
.services__subtitle {
    max-width: 306px;
    margin-right: 142px;
    margin-bottom: 90px;
    margin-top: 40px;
}
.services__subtitle_green {
}
.services__buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 69px;
}
.services__button:not(:last-child) {
    margin-right: 38px;
}
.button {
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    font-family: 'Inika', serif;
    background-color: inherit;
}
.link {
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}
.services__project-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services__project-block {
    flex: 0 1 33%;
    border: 1px solid #E3E1D5;
    border-radius: 20px 20px 20px 20px;
    max-width: 330px;
    margin-top: 55px;
}
.project {
}
.project__image {
    max-width: 329px;
    height: 350px;
    margin-bottom: 10px;
    margin-left: -1px;
}
.project__description {
    max-width: 100%;
    text-align: center;
}
.project__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin: 10px 0px 10px;
}
.project__text {
    color: #717171;
    margin-bottom: 36px;
}
/*------------------------prices-------------------------*/
.page__prices {
}
.prices {
}
.prices__container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.prices__choice-block {
   }
.block-choice {
}
.block-choice__subtitle {
    margin-bottom: 60px;
}
.block-choice__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    width: 332px;
    height: 282px;
    margin-bottom: 129px;
    align-items: center;
    
}
.block-choice__button {
    background: #EDF2EC;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    padding: 0 40px 0 40px;
}
.block-choice__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}
.block-choice__icon {
    width: 16px;
    height: 16px;
    background: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:  center;
}
.block-choice__icon img {
    width: 6px;
    height: 4px;
}
.prices__help-block {
    text-align: right;
}
.block-help {
}
.block-help__subtitle {
    max-width: 453px;
    margin-bottom: 38px;
}
.block-help__subtitle_green {
}
.prices-subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.block-help__button {
    margin-bottom: 39px;
}
.button {
}
.block-help__link {
}
.link {
}
.block-help__image img {
    width: 152px;
    height: 175px;
}
/*-------------------contacts---------------*/
.page__contacts {
}
.contacts {
    background-color: #EDF2EC;
}
.contacts__container {
    display: flex;
   
}
.contacts__image {
    margin-top: 53px;
    margin-right: 113px;
    width: 400px;
    height: 496.99px;
}
.contacts__subtitle {
    font-weight: 700;
    margin-top: 60px;
    margin-right: 64px;
}
.subtitle {
}
.contacts__subtitle_green {
}
.green {
}
.contacts__button {
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    width: 450px;
    height: 50px;
    margin-top: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 20px;
}
.contacts__button:active{
    box-shadow: none;
    background-color: #C1E698;
    transition: 0.3s;
    
}
.contacts__button:active .contacts__arrow-body {
    background-color: #8BA07E;
}
.contacts__button:active .contacts__arrow {
    background: url(../assets/arrowcontactdown.svg);
}
.contacts__name-button {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}
.contacts__arrow-body {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #AEA1A1;
    display: flex;
    justify-content: center;
    align-items:  center;
}
.contacts__arrow {
    width: 6px;
    height: 4px;
    background: url(../assets/arrowcontact.svg);
}
/*----------------footer-----------------*/
.footer {
    color: #000000;
    padding: 40px 0 40px 0;
    font-size: 20px;
    line-height: 50px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data {
}
.data__copyright {
    margin-right: 20px;
}
.data__year {
    margin-right: 20px;
}
.data__gh-link {
        color: inherit;
}
.footer__school-link {
    color: inherit;
}
.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 188px;
}
.list {
}
.list__item {
}
.list__link {
}