*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    background: #FAFAFA;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color:#636060;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*-------------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1220px;
    margin: 0px auto;
}
.page {
}
/*--------------------HEADER------------------------------*/
.header {
    font-family: 'Inika', serif;
    background-color: #EDF2EC;
    padding: 0px 0px 62px;
}
.header__container {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
}
.header__logo-image {
    height: 23px;
    width: 22px;
    margin-right: 0px;
    margin-top: 51px;
}
.header__logo-text {
    line-height: 21px;
    padding-top: 3px;
    color: #000000;
    padding-top: 56px;
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.menu__item:not(:last-child) {
    margin-right: 47px;
}
.menu__link {
    color: #010201;
    transition: .3s;
}
.menu__link:hover {
    color: #E06733;
  }
/*------------------------block welcome--------------------*/ 
.page__main-block {
}
.main-block {
    padding: 48px 0 62px 0;
    background-color: #EDF2EC;
}
.main-block__container {
    display: flex;
    justify-content: space-between;
}
.main-block__image {
    width: 449px;
    height: 407px;
    margin-right: 232px;
    margin-left: -10px;
}
.main-block__body {
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-block__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 47px;
    color: #717171;
    margin-bottom: 42px;
}
.main-block__title_green {
color: #499A18;
}
.main-block__text {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 48px;
}
.main-block__button {
    border: 2px solid #E06733;
    border-radius: 10px;
    width: 158px;
    height: 44px;
    padding: 13px 27px 14px;
}
.main-block__button-link {
    color: #000000;
}